<!DOCTYPE html>
<html>
  <head>
    <title>SelfDriving</title>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <link rel="stylesheet" href="index.css" />

  <body>
    <div id="prelaoder">
      <div class="spinner"><div class="spinner-inner"></div></div>
    </div>

    <div class="slide">
      <h1><span>SELF DRIVING CAR</span></h1>
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
