body {
  background: url(https://www.manufacturingglobal.com/sites/default/files/styles/slider_detail/public/topic/image/GettyImages-872673304_3.jpg?itok=G8rWS2TB);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 200px;
  color: #fff;
  margin: auto;
  padding-top: 20%;
}
.slide {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: auto;
  padding-top: 0%;
}
#prelaoder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 10, 10, 1);
  z-index: 1000;
}

.spinner {
  text-align: center;
  font-size: 10px;
}
.spinner,
.spinner-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 9px solid #fff;
  border-color: transparent #fff;
  margin: auto;
}

.spinner {
  width: 85px;
  height: 85px;
  -webkit-animation: spin 2.2s linear 0s infinite normal;
  -moz-animation: spin 2.2s linear 0s infinite normal;
  animation: spin 2.2s linear 0s infinite normal;
}

.spinner-inner {
  width: 40px;
  height: 40px;
  -webkit-animation: spinback 1.2s linear 0s infinite normal;
  -moz-animation: spinback 1.2s linear 0s infinite normal;
  animation: spinback 1.2s linear 0s infinite normal;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinback {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spinback {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spinback {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
